{% include head.html %}

<h1>Moriarty Naps</h1>

<p>This is <a target="_blank" href="https://twitter.com/DylanMoriarty">Dylan Moriarty</a>'s new website. He doesn't like it. He didn't like Adobe Illustrator at first either.</p>

<h3>Posts</h3>

<ul>
{% for post in paginator.posts %}
	<li><a href='{{ post.url | relative_url }}'>{{ post.title | escape }}</a></li>
{% endfor %}
</ul>
<!-- 

<li class="post-list__container" onclick="location.href='{{ post.url | relative_url }}';">
  <div class="post-icon__container"></div>

  <h2 class="post-title">
    <a class="post-link no_underline">{{ post.title | escape }}</a>
  </h2>

  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
</li>
 -->