---
layout: default
---

<p class="small">This is <a target="_blank" href="https://twitter.com/DylanMoriarty">Dylan Moriarty</a>'s new website. Neato!</p>

<div class="sleepyme">
  <img src="{{site.baseurl}}/assets/graphics/sleepytime.png" />
</div>

<ul class="post-container clearfix">
{% for post in paginator.posts %}
	<li class="post">
    <p class="icon-{{ post.type }}"></p>
    <p class="post-hed">
      <a href='{{ post.url | relative_url }}'>{{ post.title | escape }}</a>
    </p>
    <p class="post-date">{{ post.date | date: "%b %-d, %Y" }}</p>
  </li>
{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
        <button>&larr; Newer Posts</button>
      </a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          <button>Older Posts &rarr;</button>
        </a>
    </li>
    {% endif %}
</ul>
{% endif %}
