---
layout: default
songtext: "Companion Tunes"
---

{% include musicBox.html %}

{% if page.scripts contains 'Mapbox' %}
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
{% endif %}
{% if page.scripts contains 'Waypoints' %}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js'></script>
{% endif %}
{% if page.scripts contains 'D3' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.5.0/d3.min.js"></script>
{% endif %}


<section class="article-container">

  <div class="article-gutter {% if page.centerAlign %}article-gutter_middle{% endif %}"></div>

  <article class="article-content {% if page.centerAlign %}article-content_middle{% endif %}">
    <div class="article-header">
      <div class="article-back"><a href="../" class="no_underline">&larr; back</a></div>
      <h3 class="">{{ page.title }}</h3>
    </div>

    {{ content }}

    <div class = "article-foot">
        <div class="article-back"><a href="../" class="no_underline">&larr; Home</a></div>
    </div>

  </article>
</section>

{% include lazyload.html %}
