<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZ290LW1hcCIsImEiOiJjajVzb2htd2MxYTE5MzNvMHozeTExa3NpIn0.EjAu86Nd3hVJGhcjaxBsYQ';

  var map = new mapboxgl.Map({
    container: 'nightMap',
    style: 'mapbox://styles/got-map/ckh6c58ru1dki19phg4ui2u4u',
    zoom: 13,
    pitch: 45,
    bearing: 60,
    center: [-77.12232423981123, 38.938086813665784],
  });

  var placeInPath = 1
  var curZoom = 15
  var curBearing = 160
  var interval = ''
  var flying = false
  var pilotStatus = true

  map.on('load', function () {
    mapSwitch(false)

    // FLY FUNCTIONS
    map.on('flystart', function(){ flying = true; })
    map.on('flyend', function(){ flying = false; })
    map.on('moveend', function(e){
      if(flying && pilotStatus) {
        map.fire('flyend')
        flyTo()
      }
    })
    flyTo()

    // LIGHTS
    autopilot()
    flicker()
  })

  function flyTo () {
    var flyTarget = flightPath[placeInPath]
    var centerTarget = [flyTarget.lon, flyTarget.lat]

    if (flyTarget.zoom) { curZoom = flyTarget.zoom }
    if (flyTarget.bearing) { curBearing = flyTarget.bearing }

    map.flyTo({
      center: centerTarget,
      zoom: curZoom,
      bearing: curBearing,
      speed: 0.03,
      easing: function (n) {
        return n;
      }
    })
    
    placeInPath++

    map.fire('flystart');
  }

  function autopilot() {
    var pilotToggle = document.querySelector('.autopilot-toggle')
    var controlDef = document.querySelector('.map-controller')

    pilotToggle.addEventListener('click', function() {
      var mapContainer = document.querySelector('.mapstyle')

      if (pilotStatus) {
        pilotToggle.classList.remove('autopilot-on')
        controlDef.classList.remove('autopilot-on')
        pilotToggle.classList.add('autopilot-off')        
        controlDef.classList.add('autopilot-off')

        mapSwitch(true)
        pilotToggle.innerHTML = 'Turn on Autopilot'
        pilotStatus = false

        console.log("this plane is out of control!")
      } else {

        pilotToggle.classList.remove('autopilot-off')
        controlDef.classList.remove('autopilot-off')
        pilotToggle.classList.add('autopilot-on')
        controlDef.classList.add('autopilot-on')

        mapSwitch(false)
        pilotStatus = true
        flyTo()
        pilotToggle.innerHTML = 'Manual Control'

        console.log("oh thank goodness")
      }
    })
  }

  function mapSwitch(value) {
    if(value) {
        map.scrollZoom.enable()
        map.dragPan.enable()
        map.boxZoom.enable()
        map.dragRotate.enable()
        map.keyboard.enable()
        map.doubleClickZoom.enable()
        map.touchZoomRotate.enable({ around: 'center' })
    } else {
        map.scrollZoom.disable()
        map.dragPan.disable()
        map.boxZoom.disable()
        map.dragRotate.disable()
        map.keyboard.disable()
        map.doubleClickZoom.disable()
        map.touchZoomRotate.disable({ around: 'center' })
    }
  }

  function flicker () {
    let max = 35000;
    let r1 = randombetween(1, max-3);
    let r2 = randombetween(1, max-2-r1);
    let r3 = randombetween(1, max-1-r1-r2);
    let r4 = max - r1 - r2 - r3;


    function randombetween(min, max) {
      return Math.floor(Math.random()*(max-min+1)+min);
    }

    setInterval(function() {
      const radiusStops = [70000]
      const radiusStops2 = [70000]
      const radiusStops3 = [70000]
      const radiusValues = []
      const radiusValues2 = []
      const radiusValues3 = []


      for (var i = 6; i >= 0; i--) { radiusStops.push(Math.floor(60000 * Math.random())) }
      for (var i = 6; i >= 0; i--) { radiusStops2.push(Math.floor(60000 * Math.random())) }
      for (var i = 6; i >= 0; i--) { radiusStops3.push(Math.floor(60000 * Math.random())) }

      radiusStops.sort((a, b) => a - b)
      radiusStops2.sort((a, b) => a - b)
      radiusStops3.sort((a, b) => a - b)

      radiusStops.forEach((n) => {
       radiusValues.push(
            [
              n,
              (n === 70000 ? 1 : Math.floor(Math.random() * 100) * 0.01 + 0.75)
            ]
         )
      })

      radiusStops2.forEach((n) => {
       radiusValues2.push(
            [
              n,
              (n === 70000 ? 1 : Math.floor(Math.random() * 100) * 0.01 + 2)
            ]
         )
      })

      radiusStops3.forEach((n) => {
       radiusValues3.push(
            [
              n,
              (n === 70000 ? 1 : Math.floor(Math.random() * 100) * 0.01 + 15)
            ]
         )
      })

      let newRadius = {
        "base": 1,
        "type": "exponential",
        "property": "id",
        "stops": radiusValues
      }

      let newRadius2 = {
        "base": 1,
        "type": "exponential",
        "property": "id",
        "stops": radiusValues2
      }

      let newRadius3 = {
        "base": 1,
        "type": "exponential",
        "property": "id",
        "stops": radiusValues3
      }

      map.setPaintProperty('streetlights-inner-light', 'circle-radius', newRadius)
      map.setPaintProperty('streetlights-glow-1', 'circle-radius', newRadius2)
      map.setPaintProperty('streetlights-glow-2', 'circle-radius', newRadius3)
    }, 500)
  }
</script>
