.ai2html {
  margin-top: -8rem;
}

.g-show-large {
  display: block;
  @include media-query($mobile) {
    display: none;
  }
  @include media-query($laptop) {
    display: none;
  }
}

.g-show-mediumMax {
  display: block !important;
  @include media-query($laptop) {
    display: block;
  }
  @include media-query($mobile) {
    display: none !important;
  }
}


.g-show-medium {
  display: none;
  @include media-query($mobile) {
    display: none !important;
  }
  @include media-query($laptop) {
    display: block;
  }
}

.g-show-smallplus {
  display: none;
  @include media-query($mobile) {
    display: block;
  }
}


.g-_white-outline {
  color: black;
  text-shadow: -1px -1px 0 #eee, 1px -1px 0 #eee, -1px 1px 0 #eee, 1px 1px 0 #eee;
}

.g-_grey-outline {
  color: black;
  text-shadow: -1.25px -1.25px 0 #adaca5, 1.25px -1.25px 0 #adaca5, -1.25px 1.25px 0 #adaca5, 1.25px 1.25px 0 #adaca5;
}

$large: 1200px;
$desktop: 900px;
$smalldesk: 600px;
$mobile: 400px;

#g-janesville-ai2html-mobile,
#g-madison-ai2html-mobile,
#g-dc-ai2html-mobile,
#g-school-route-actual-ai2html-mobile,
#g-school-route-mental-ai2html-mobile {
  display: block; /*Show the mobile version by default*/
}

// smalldesktop
#g-janesville-ai2html-smalldesk,
#g-madison-ai2html-smalldesk,
#g-dc-ai2html-smalldesk,
#g-school-route-actual-ai2html-smalldesk,
#g-school-route-mental-ai2html-smalldesk,
// desktop
#g-janesville-ai2html-desktop,
#g-madison-ai2html-desktop,
#g-dc-ai2html-desktop,
#g-school-route-actual-ai2html-desktop,
#g-school-route-mental-ai2html-desktop,
// large
#g-janesville-ai2html-large,
#g-madison-ai2html-large,
#g-school-route-actual-ai2html-large,
#g-school-route-mental-ai2html-large {
  display: none;
}

@media only screen and  (min-width: 600px) {
  // small desktop
  #g-janesville-ai2html-smalldesk,
  #g-madison-ai2html-smalldesk,
  #g-dc-ai2html-smalldesk,
  #g-school-route-actual-ai2html-smalldesk,
  #g-school-route-mental-ai2html-smalldesk  {
    display: block;
  }

  // mobile
  #g-janesville-ai2html-mobile,
  #g-madison-ai2html-mobile,
  #g-dc-ai2html-mobile,
  #g-school-route-actual-ai2html-mobile,
  #g-school-route-mental-ai2html-mobile, 
  // desktop
  #g-janesville-ai2html-desktop,
  #g-madison-ai2html-desktop,
  #g-dc-ai2html-desktop,
  #g-school-route-actual-ai2html-desktop,
  #g-school-route-mental-ai2html-desktop, 
  // large
  #g-janesville-ai2html-large,
  #g-madison-ai2html-large,
  #g-school-route-actual-ai2html-large,
  #g-school-route-mental-ai2html-large {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  #g-janesville-ai2html-desktop,
  #g-madison-ai2html-desktop,
  #g-school-route-actual-ai2html-desktop,
  #g-school-route-mental-ai2html-desktop,
  #g-dc-ai2html-desktop {
    display: block; /*Show the mobile version by default*/
  }

  // mobile
  #g-janesville-ai2html-mobile,
  #g-madison-ai2html-mobile,
  #g-dc-ai2html-mobile,
  #g-school-route-actual-ai2html-mobile,
  #g-school-route-mental-ai2html-mobile,
  // smalldesk
  #g-janesville-ai2html-smalldesk,
  #g-madison-ai2html-smalldesk,
  #g-dc-ai2html-smalldesk,
  #g-school-route-actual-ai2html-smalldesk,
  #g-school-route-mental-ai2html-smalldesk,
  // large
  #g-madison-ai2html-large {
    display: none;
  }        
}

@media only screen and (min-width: 1200px) {
  // large
  #g-madison-ai2html-large {
    display: block;
  }

  // mobile
  #g-janesville-ai2html-mobile,
  #g-madison-ai2html-mobile,
  #g-dc-ai2html-mobile,
  #g-school-route-actual-ai2html-mobile,
  #g-school-route-mental-ai2html-mobile, 
  // small desktop
  #g-janesville-ai2html-smalldesk,
  #g-madison-ai2html-smalldesk,
  #g-dc-ai2html-smalldesk,
  #g-school-route-actual-ai2html-smalldesk,
  #g-school-route-mental-ai2html-smalldesk,
  // desktop
  #g-madison-ai2html-desktop {
    display: none;
  }
}

