@keyframes dullColor {
  0%  {color: $rainRed; border-color: $rainRed;}
  15% {color: $rainOrange; border-color: $rainOrange;}
  30% {color: $rainYellow; border-color: $rainYellow;}
  45% {color: $rainGreen; border-color: $rainGreen;}
  60% {color: $rainBlue; border-color: $rainBlue;}
  75% {color: $rainPurple; border-color: $rainPurple;}
  100%  {color: $rainRed; border-color: $rainRed;}
}
