@keyframes dullColor {
  0%  {color: #8F5388; border-color: #8F5388;}
  15% {color: #8F615D; border-color: #8F615D;}
  30% {color: #8C9262; border-color: #8C9262;}
  45% {color: #6E926A; border-color: #6E926A;}
  60% {color: #538690; border-color: #538690;}
  75% {color: #6182C1; border-color: #6182C1;}
  100%  {color: #8F5388; border-color: #8F5388;}
}
