@keyframes dullColor {
  0%  {color: #E483DC; border-color: #E483DC;}
  15% {color: #DB4D46; border-color: #DB4D46;}
  30% {color: #EED51A; border-color: #EED51A;}
  45% {color: #4ED075; border-color: #4ED075;}
  60% {color: #6AE5E3; border-color: #6AE5E3;}
  75% {color: #3480D8; border-color: #3480D8;}
  100%  {color: #8F5388; border-color: #8F5388;}
}
