button {
	background-color: rgba(0,0,0,0);
	border-radius: 4px;
	border: 1px solid $Primary;
	color: darken($Primary, 5);
	padding: 0.75rem 1.25rem;
	margin: 2px;
	font-size: 0.75rem;
	font-style: italic;
	transition: 0.1s all;
	letter-spacing: 0.35rem;
	text-transform: uppercase;
  box-shadow: 0px 2px 20px rgba(0,0,0,0.4);
	&:hover {
		cursor: pointer;
		border-color: darken($Primary, 10);
		color: darken($Primary, 12);
	}
	&:active {
		outline: !important none;
	}
	&:focus { outline: none; }
}

ul.pager { 
  text-align: center; 
  list-style: none; 
}

ul.pager li {
  display: inline;
  border-radius: 4px;
}

.previous, .next {
	a {
		border: 0;
	}
	border: 0;
}
