$ChapterColor: #555;
$LineColor: #70b5b2;

.Chapterbox{
  font-family: "Averia Serif Libre";
  text-align: center;
  margin: 5.5rem 0 7rem;
  color: $ChapterColor;
  opacity: 0.2;
  transition: 1s all;
  h2{
    display: inline-block;
    position: relative;
    height: 6px;
    width: 40px;
    bottom: 6px;
    margin: 0;
    font-family: "Averia Serif Libre";
    letter-spacing: 3px;
    color: $ChapterColor;
    font-weight: 100;
    font-size: 1.2rem;
    margin-left: 5px;
  }
}

.ChapterboxHeader{
  margin-bottom: 3px;
}

.ChapterboxTitle{
  // text-transform: uppercase;
  bottom:3px;
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 0.5px;
  position: relative;
  color: $ChapterColor;
}

.ChapterboxHeaderLine{
  width: 100px;
  height: 1px;
  background-color: $LineColor;
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
}

.ChapterboxFooterLine{
  width: 250px;
  height: 2px;
  background-color: $LineColor;
  margin: auto;
  margin-top: 14px;
}
