ol {
	counter-reset: count;
	padding: 0;
	margin: 2rem 2rem 3rem 1rem;
	li {
		position: relative;
		margin-left: 2rem;
		&:before {
			counter-increment: count;
			content: counter(count)'.';
			position: absolute;
			left: -1.5rem;
			top: 1px;
			font-family: 'Averia Serif Libre';
			font-size: 16px;
			color: $Primary;
		}
	}
}