.post-foot {
  width: 100%;
  text-align: center;
  margin-top: 6rem;
}

.post-hed {
  margin-bottom: 0.15rem;
}

.post-date {
  font-style: italic;
  font-size: 18px;
  opacity: 0.4;
}

.article-container {
  position: relative;
  display: table;
  margin: 6rem auto 2rem;
  max-width: 800px;
}

.article-gutter {
  float: left;
  width: 30%;
}

.article-content {
  float: right;
  width: 65%;
  ul {
    margin: 2rem 1rem 2rem;
    li {
      position: relative;
      margin: 1rem 0 0 2rem;
      &:before {
        position: absolute;
        content: "\EA0A";
        top: 9px;
        left: -16px;
        font-size: 7px;
        @extend %collecticons;
      }
    }
  }
  @include media-query($mobile) {
    width: auto;
    float: initial;
    margin: 0 2rem;
  }
}

.article-back {
  font-style: italic;
  opacity: 0.6;
}

.article-title {
  margin-bottom: 0.5rem;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 800;
  text-shadow: 1px 2px 6px black;
}

.article-header {
  margin-bottom: 6rem;
}

.article-foot{
  padding: 4rem 0 0 0;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  i{
    font-size: 6rem;
    text-align:center;
    display: block;
  }
}

.post-image {
  position: absolute;
  max-width: 25%;
  left: 0;
  img {
    max-width: 100%;
  }
  @include media-query($mobile) {
    position: relative;
    max-width: 100%;
    text-align: center;
    margin-bottom: 4rem;
  }
}
