<style>
  .repub-note {
    margin: -5.75rem 0 0;
    padding-bottom: 3rem;
    font-style: italic;
    font-size: 16px;
    color: rgba(0,0,0,0.5);
  }

  .ai2html {
    margin-top: -8rem !important;
  }

  #g-dc-ai2html-mobile-img,
  #g-dc-ai2html-smalldesk-img,
  #g-dc-ai2html-desktop-img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
  }

  #g-madison-ai2html-mobile-humanities-img, 
  #g-madison-ai2html-smalldesk-humanities-img, 
  #g-madison-ai2html-desktop-humanities-img, 
  #g-madison-ai2html-large-humanities-img {
    position: absolute;
    animation-name: spin;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0.8;
  }

  #g-madison-ai2html-mobile-humanities-img {
    max-width: 160px !important;
    top: auto !important;
    bottom: 40px !important;
    right: -15px !important;
  }

  #g-madison-ai2html-smalldesk-humanities-img {
    max-width: 160px !important;
    top: auto !important;
    bottom: 50px !important;
    right: 10px !important;
  }

  #g-madison-ai2html-desktop-humanities-img {
    max-width: 160px !important;
    top: 275px !important;
  }

  #g-madison-ai2html-large-humanities-img {
    max-width: 170px !important;
    top: 340px !important;
    left: 40px;
  }

  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }
</style>