<header class ="nav-down">
	<div class ="nav-container nav-container__left">
		<span class="nav-web"><a class="no_underline head-home" href="./">Moriarty Naps</a></span>

		<span class="nav-home"><a class="no_underline" href= "{{ site.baseurl }}"><i class="collecticons collecticons-dm"></i></a>
		<a class="no_underline" href= "https://twitter.com/DylanMoriarty" target="_blank">
			<i class="collecticons collecticons-twitter"></i>
		</a>
		<a class="no_underline" href= "https://github.com/DylanMoriarty" target="_blank">
			<i class="collecticons collecticons-github"></i>
		</a>
		</span>
	</div>

	{% include musicBox.html %}

	<script>
		var PT = {lang: '{{page.lang}}' };
	</script>
</header>
