{% if page.song %}
<div class="nav-container nav-container__right">
	<div class="nav-musicBox">
		<iframe width="100%" height="200" src="{{ page.songurl}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>

	<div class="nav-container__tunes">
    <img src="../assets/graphics/posts/music-box.gif" class="music-box-gif music-box-gif_left" />
		<i>Hover for Companion tunes</i>
    <img src="../assets/graphics/posts/music-box-r.gif" class="music-box-gif music-box-gif_right" />
	</div>
</div>
{% endif %}
