{% if include.full %}
  {::nomarkdown}  
      </article>
    </section>
  {:/}
{% endif %}
 
<div class="post-image {{ include.class }} {% if include.full %}post-image__full{% endif %}">
	<fig>
		<img 
      src="{{site.baseurl}}/assets/graphics/blank.png"
      alt="{{ include.alt }}"
      data-echo="{{ site.baseurl }}/assets/graphics/{{ include.imgsrc }}"
      {% if include.max %}style="max-width:100%; width: {{ include.max }}px;"{% endif %} />
	</fig>
	<figcaption>
		{{ include.caption }}
	</figcaption>
</div>

{% if include.full %}
  {::nomarkdown}
    <section class="article-container article-cotainer__within">
      <div class="article-gutter {% if page.centerAlign %}article-gutter_middle{% endif %}"></div>
      <article class="article-content {% if page.centerAlign %}article-content_middle{% endif %}">
  {:/}
{% endif %}






