{% if include.full %}
  {::nomarkdown}  
      </article>
    </section>
  {:/}
{% endif %}
 
<div class="post-image {{ include.class }} {% if include.full %}post-image__full{% endif %}">
	<fig>
		<img src="{{ site.baseurl }}/assets/graphics/{{ include.imgsrc }}" />
	</fig>
	<figcaption>
		{{ include.caption }}
	</figcaption>
</div>

{% if include.full %}
  {::nomarkdown}
    <section class="article-container article-cotainer__within">
      <div class="article-gutter"></div>
      <article class="article-content">
  {:/}
{% endif %}
