<script>
  let cityName = 'New York'
  let admin = 'New York'
  let cityNameLen = cityName.length
  let adminLen = admin.length
  let maxChar = (cityNameLen > adminLen ? cityNameLen : adminLen)
  mapboxgl.accessToken = 'pk.eyJ1IjoiZG1vcmlhcnR5IiwiYSI6Ikd3T29EOWMifQ.-DKJ4ernht84AZmc6Bk51Q'

  buildLetters(cityName, 'vert')
  buildLetters(admin, 'horz')

  const callingMap = new mapboxgl.Map({
    container: 'callingMap',
    style: 'mapbox://styles/dmoriarty/ckm4frs7y03jl17o7gywfldcj',
    zoom: 9.5,
    center: [-73.8060, 40.7128],
    attributionControl: false,
    pitch: 15
  })

  const CMlabelToggle = document.querySelector('.calling-labels')
  const CMlockToggle = document.querySelector('.calling-lock')
  let CMlabelsVisible = false
  let CMlock = false

  callingMap.on('load', function () {
    callingMap.on('mousemove', 'nearest-city', function (e) {
      callingMap.getCanvas().style.cursor = 'pointer';
      const props = e.features[0].properties

      if (props.NAME === cityName || CMlock) {
        return
      } else {
        cityName = (props.NAME === 'NULLIS' ? 'NULL' : props.NAME)
        admin = props.ADMIN

        cityName = cityName.replaceAll('.', '')
        cityName = cityName.replaceAll(',', '')

        cityNameLen = cityName.length
        adminLen = admin.length
        maxChar = (cityNameLen > adminLen ? cityNameLen : adminLen)

        buildLetters(cityName, 'vert')
        buildLetters(admin, 'horz')
      }
    })

    CMlabelToggle.addEventListener('click', ()=> {
      if (CMlabelsVisible) {
        callingMap.setLayoutProperty('city-centroid-point', 'visibility', 'none')
        callingMap.setLayoutProperty('city-centroid-label', 'visibility', 'none')
        callingMap.setLayoutProperty('city-centroid-voronoi', 'visibility', 'none')

        CMlabelToggle.innerHTML = 'Turn on guides'
        CMlabelsVisible = false
      } else {
        callingMap.setLayoutProperty('city-centroid-point', 'visibility', 'visible')
        callingMap.setLayoutProperty('city-centroid-label', 'visibility', 'visible')
        callingMap.setLayoutProperty('city-centroid-voronoi', 'visibility', 'visible')

        CMlabelToggle.innerHTML = 'Turn off guides'
        CMlabelsVisible = true
      }
    })

    CMlockToggle.addEventListener('click', ()=> {
      const CmapCont = document.querySelector('#callingMap > .mapboxgl-canvas-container')

      if (CMlock) {
        callingMap.boxZoom.enable();
        callingMap.scrollZoom.enable();
        callingMap.dragPan.enable();
        callingMap.dragRotate.enable();
        callingMap.keyboard.enable();
        callingMap.doubleClickZoom.enable();
        callingMap.touchZoomRotate.enable();

        CMlockToggle.innerHTML = 'Lock Map'
        CmapCont.style.cursor = 'grab'
        CMlock = false
      } else {
        callingMap.boxZoom.disable();
        callingMap.scrollZoom.disable();
        callingMap.dragPan.disable();
        callingMap.dragRotate.disable();
        callingMap.keyboard.disable();
        callingMap.doubleClickZoom.disable();
        callingMap.touchZoomRotate.disable();

        CMlockToggle.innerHTML = 'Unlock Map'
        CmapCont.style.cursor = 'auto'
        CMlock = true
      }
    })
  })

  function buildLetters(name, dir) {
    const cap = name.toUpperCase()
    const charArray = [...cap]
    const color = (dir === 'vert' ? 'p' : 'g')

    const elem = document.querySelector(`.calling-${dir}`)
    elem.innerHTML = ''

    charArray.map((c) => {
      let img = ''

      if (c != ' ') {
        img = document.createElement('img')
        const charPath = `{{site.baseurl}}/assets/graphics/posts/19-album/letters/letters_${color}__${c}.svg`
        img.src = charPath
      } else {
        img = document.createElement('div')
      }

      img.className = `letter letter_${dir}`

      const horzHeight = `calc(100% / ${adminLen}`
      const horzWidth = 'calc(100% - 20px)'

      const vertHeight = `calc(100% - 35px - (100% / ${adminLen}))`
      const vertWidth = `calc((100% - 20px) / ${cityNameLen}`

      if (dir === 'vert') {
        elem.style.width = vertWidth
        elem.style.height = vertHeight

        img.style.height = `calc(${vertHeight} / ${cityNameLen})`
        img.style.width = '100%'
        // elem.width = `calc(100% / ${maxChar})`
      } else {
        elem.style.width = horzWidth
        elem.style.height = horzHeight

        img.style.width = `calc(100% / ${adminLen})`
        img.style.height = `100%`
      }

      elem.appendChild(img)
    })
  }
</script>
