<div class = "show-block">
  {% if include.pos == "l" %}
  <div class="show-cd show-cd__left">
    <img 
      src="{{ site.baseurl }}/assets/graphics/posts/20-wfmu/{{ include.img }}.png"
      class="wfmu-cd spingme2"
    />
    <img src="{{ site.baseurl }}/assets/graphics/posts/20-wfmu/sleeve.png" class="wfmu-cd-sleeve" />
  </div>
  {% endif %}

  <div class="show-text {% if include.pos == 'r' %}show-text__right{% endif %}">
    <img 
      src="{{ site.baseurl }}/assets/graphics/posts/20-wfmu/blank-cd.png"
      class="blank-cd"
    />
    <h2>{{ include.show }}</h2>
    <p>w/ {{ include.host }}</p>
    <p>{{ include.descrip }}</p>
  </div>

  {% if include.pos == "r" %}
  <div class="show-cd show-cd__right">
    <img 
      src="{{ site.baseurl }}/assets/graphics/posts/20-wfmu/{{ include.img }}.png"
      class="wfmu-cd spingme2"
    />
    <img src="{{ site.baseurl }}/assets/graphics/posts/20-wfmu/sleeve.png" class="wfmu-cd-sleeve" />
  </div>
  {% endif %}
</div>
