<script>
  function createFirework() {
    const cont = d3.select('.breathe')
    let $svg = null
    let $g = null

    let width = 0
    let height = 0

    const Firework = {
      init() {
        $svg = cont.append('svg')
        $g = $svg.append('g')
      },

      render() {

      },

      update() {

      }
    }

  }

  // let width = 400
  // let height = 400
  // let color = d3.scaleOrdinal().range(['#f7a91e', '#d9f71e'])
  // let rand = d3.random.normal(width/2,100)
  // let randomX = function(b){ return d3.random.normal(b, 80)()}
  // let randomY = d3.random.normal(height/2, 80)

  // let svg = d3.select('.breath')
  //   .append('svg')
  //   .attr('width', width)
  //   .attr('height', height)

  // let fireworkData = d3.range(100).map(function() { return {x: randomX(width/2), y: randomY()}; })

  // const circles = svg.selectAll("circle")
  //   .data(fireworkData)
  //   .enter()
  //   .append("circle")

  // function fireworks() {
  //   const base = rand()
  //   fireworkData = d3.range(100).map(function() { return {x: randomX(base), y: randomY()}; })

  //     circles.transition().ease('circle').duration(1500).attr({cy:height/2})

  //     circles.data(data)
  //         .attr("opacity",1)
  //         .attr({r:3,cx:base,cy:height,fill:"gray"})
  //         .transition()
  //             .ease('circle')
  //             .duration(1500)
  //             .attr({cy:height/2})
  //         .transition().delay(1400)
  //             .ease("exp")
  //             .duration(300)
  //             .attr("cx", function(d){ return d.x; })
  //             .attr("cy", function(d){ return d.y; })
  //             .attr("r", 10)
  //             .attr("opacity",1)
  //             .attr("fill", function(d){ return color(d.x); })
  //             .transition()
  //             .ease("circle")
  //             .duration(2000)
  //             .attr("opacity",0)
  //             .attr("cx", function(d){ if(d.x > base){
  //                 return d.x + (d.x-base)
  //             }return d.x - (base - d.x)})
  //             .attr("cy", function(d){ if(d.y > height/2){
  //                 return d.y + (d.y-height/2)
  //             }return d.y - (height/2 - d.y)})
  //             .attr("r", 0);

  // }
  // setInterval(fireworks,4000);

</script>
