<style>
.co-byline {
  position: absolute;
  font-style: italic;
  color: #999;
  font-size: 18px;
  margin-top: -5rem;
}

.co-byline a {
  color: #999;
}

.co-byline a:visited {
  color: #999;
}

.cakemap {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
}

.mapbox-logo {
  display: none;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapbox-improve-map {
  display: none;
}

.mapboxgl-ctrl-compass {
  display: none;
}

p {
  text-align: left;
}

.innershadow {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  width: 80%;
  margin: 0 auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0.35) 100%);
}

.choco-border {
  position: relative;
}

.choco-border-corner {
  position: absolute;
  width: 300px;
  z-index: 9999;
}
.choco-border-corner__tl {
  width: 350px;
  top: -5rem;
  left: 1rem;
}
.choco-border-corner__tr {
  top: -5rem;
  right: 1rem;
}
.choco-border-corner__bl {
  bottom: -6rem;
  left: 1rem;
}
.choco-border-corner__br {
  bottom: -6rem;
  right: 1rem;
}

.choco-border-side {
  position: absolute;
  z-index: 2;
  margin: 0 10%;
}
.choco-border-side__t {
  background: linear-gradient(to left, black 20%, #3d2c00 50%, black 80%);
  margin: 0 10%;
  width: 80%;
  height: 46px;
  top: -23px;
}
.choco-border-side__l {
  background: linear-gradient(0deg, black 20%, #3d2c00 50%, black 80%);
  width: 46px;
  height: 100%;
  right: -23px;
}
.choco-border-side__r {
  background: linear-gradient(0deg, black 20%, #3d2c00 50%, black 80%);
  width: 46px;
  height: 100%;
  left: -23px;
}
.choco-border-side__b {
  background: linear-gradient(to left, black 20%, #3d2c00 50%, black 80%);
  margin: 0 10%;
  width: 80%;
  height: 46px;
  bottom: -23px;
}

.choco-border-side__t:after, .choco-border-side__b:after {
  position: absolute;
  content: "";
  background: #a49649;
  background: linear-gradient(to left, #a49649 15%, gold 30%, #fcffac 50%, gold 70%, #a49649 85%);
  height: 1px;
  width: 100%;
  top: 6px;
  left: 0;
}
.choco-border-side__t:before, .choco-border-side__b:before {
  position: absolute;
  content: "";
  background: #a49649;
  background: linear-gradient(to left, #a49649 15%, gold 30%, #fcffac 50%, gold 70%, #a49649 85%);
  height: 1px;
  width: 100%;
  bottom: 6px;
  right: 0;
}

.choco-border-side__l:after, .choco-border-side__r:after {
  position: absolute;
  content: "";
  background: #a49649;
  background: linear-gradient(0deg, #a49649 15%, gold 30%, #fcffac 50%, gold 70%, #a49649 85%);
  width: 1px;
  height: 100%;
  top: 0;
  left: 6px;
}
.choco-border-side__l:before, .choco-border-side__r:before {
  position: absolute;
  content: "";
  background: #a49649;
  background: linear-gradient(0deg, #a49649 15%, gold 30%, #fcffac 50%, gold 70%, #a49649 85%);
  width: 1px;
  height: 100%;
  top: 0;
  right: 6px;
}

.choco-border-legend {
  position: absolute;
  z-index: 9999;
  width: 300px;
  bottom: -100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.velvet-border {
  position: relative;
}

.velvet-border-corner {
  position: absolute;
  width: 240px;
  z-index: 15;
}
.velvet-border-corner__tl {
  top: -5rem;
  left: 1rem;
}
.velvet-border-corner__tr {
  top: -5rem;
  right: 1rem;
}
.velvet-border-corner__bl {
  bottom: -6rem;
  left: 1rem;
}
.velvet-border-corner__br {
  bottom: -6rem;
  right: 1rem;
}

.velvet-border-side {
  position: absolute;
  z-index: 10;
  margin: 0 10%;
}
.velvet-border-side__t {
  background-image: url("./../../assets/graphics/posts/17-cake/velvet-frost.png");
  background-repeat: repeat-x;
  background-size: 120px 60px;
  margin: 0 10%;
  width: 80%;
  height: 60px;
  top: -23px;
}
.velvet-border-side__l {
  background-image: url("./../../assets/graphics/posts/17-cake/velvet-frost-v.png");
  background-repeat: repeat-y;
  background-size: 60px 120px;
  width: 60px;
  height: 100%;
  right: -23px;
}
.velvet-border-side__r {
  background-image: url("./../../assets/graphics/posts/17-cake/velvet-frost-v.png");
  background-repeat: repeat-y;
  background-size: 60px 120px;
  width: 60px;
  height: 100%;
  left: -23px;
}
.velvet-border-side__b {
  background-image: url("./../../assets/graphics/posts/17-cake/velvet-frost.png");
  background-repeat: repeat-x;
  background-size: 120px 60px;
  margin: 0 10%;
  width: 80%;
  height: 60px;
  bottom: -23px;
}

.velvet-border-legend {
  position: absolute;
  z-index: 9999;
  width: 450px;
  bottom: -100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.velvet-border-legend-top {
  position: absolute;
  z-index: 15;
  width: 450px;
  top: -100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.vanilla-border {
  position: relative;
}

.vanilla-border-corner {
  position: absolute;
  width: 240px;
  z-index: 9999;
}
.vanilla-border-corner__tl {
  top: -5rem;
  left: 1rem;
}
.vanilla-border-corner__tr {
  top: -5rem;
  right: 1rem;
}
.vanilla-border-corner__bl {
  bottom: -6rem;
  left: 1rem;
}
.vanilla-border-corner__br {
  bottom: -6rem;
  right: 1rem;
}

.vanilla-border-side {
  position: absolute;
  z-index: 10;
  margin: 0 10%;
}
.vanilla-border-side__t {
  background: linear-gradient(to left, #261e0f 15%, #746446 50%, #362f22 85%);
  margin: 0 10%;
  width: 80%;
  height: 46px;
  top: -23px;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
.vanilla-border-side__l {
  background: linear-gradient(0deg, #261e0f 15%, #746446 50%, #362f22 85%);
  width: 46px;
  height: 100%;
  right: -23px;
  border-left: 4px solid black;
  border-right: 4px solid black;
}
.vanilla-border-side__r {
  background: linear-gradient(0deg, #261e0f 15%, #746446 50%, #362f22 85%);
  width: 46px;
  height: 100%;
  left: -23px;
  border-left: 4px solid black;
  border-right: 4px solid black;
}
.vanilla-border-side__b {
  background: linear-gradient(to left, #261e0f 15%, #746446 50%, #362f22 85%);
  margin: 0 10%;
  width: 80%;
  height: 46px;
  bottom: -23px;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.vanilla-border-side__t:after, .vanilla-border-side__b:after {
  position: absolute;
  content: "";
  background-color: black;
  height: 4px;
  width: 100%;
  top: 6px;
  left: 0;
}
.vanilla-border-side__t:before, .vanilla-border-side__b:before {
  position: absolute;
  content: "";
  background-color: black;
  height: 4px;
  width: 100%;
  bottom: 7px;
  right: 0;
}

.vanilla-border-side__l:after, .vanilla-border-side__r:after {
  position: absolute;
  content: "";
  background-color: black;
  width: 4px;
  height: 100%;
  top: 0;
  left: 6px;
}
.vanilla-border-side__l:before, .vanilla-border-side__r:before {
  position: absolute;
  content: "";
  background-color: black;
  width: 4px;
  height: 100%;
  top: 0;
  right: 6px;
}

.vanilla-border-legend {
  position: absolute;
  z-index: 9999;
  width: 450px;
  top: -120px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.mapboxgl-popup {
  pointer-events: none;
}

.mapboxgl-popup-content {
  border-radius: 13px;
  box-shadow: 0 1px 4px black;
  padding: 7px 9px 9px;
  pointer-events: none;
}

.popup-hed {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 0 -40px 0 20px;
  width: 100%;
  max-width: calc(100% - 40px);
}
.popup-hed__paul:after {
  position: absolute;
  content: "";
  top: 2px;
  left: -20px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #8fc9cb;
}
.popup-hed__prue:after {
  position: absolute;
  content: "";
  top: 2px;
  left: -20px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #e8d575;
}
.popup-hed__mary:after {
  position: absolute;
  content: "";
  top: 2px;
  left: -20px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f07c8d;
}
.popup-hed__unknown:after {
  position: absolute;
  content: "";
  top: 2px;
  left: -20px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
}

.popup-mid {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 3px;
}

.popup-link {
  font-size: 12px;
  font-style: italic;
  pointer-events: all;
}
</style>

